name: CICD Workflow
on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-east-1

jobs:
  fastapi:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./.github
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Local API Test
        working-directory: ./fastapi
        run: |
          pip install -r requirements.txt
          pip install pytest pytest-xdist
          pytest -n auto --dist loadfile

      - name: Build Lambda package
        run: |
          pip install -r ../fastapi/requirements.txt -t ./build
          cp -r ../fastapi/* ./build/
          cd ./build
          zip -r deploy.zip .

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ./.github/fastapi_terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: ./.github/fastapi_terraform
        run: terraform apply -auto-approve

  react:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./.github
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Build
        working-directory: ./react
        run: |
          npm ci
          npm run build

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ./.github/react_terraform
        run: terraform init

      - name: Terraform Apply
        id: tf_output
        working-directory: ./.github/react_terraform
        run: |
          terraform apply -auto-approve

          terraform_output=$(terraform output -json)
          cloudfront_id=$(echo "$terraform_output" | jq -r '.cloudfront_id.value')
          s3_bucket=$(echo "$terraform_output" | jq -r '.s3_bucket.value')

          echo "cloudfront_id=$cloudfront_id" >> $GITHUB_OUTPUT
          echo "s3_bucket=$s3_bucket" >> $GITHUB_OUTPUT

      - name: Copy Objects to S3
        working-directory: ./react
        env:
          S3_BUCKET: ${{ steps.tf_output.outputs.s3_bucket }}
        run: |
          aws s3 cp ./dist "s3://$S3_BUCKET" --recursive

      - name: Clear Cloudfront Cache
        env:
          CLOUDFRONT_ID: ${{ steps.tf_output.outputs.cloudfront_id }}
        run: |
          echo "Invalidating CloudFront distribution: $CLOUDFRONT_ID"
          aws cloudfront create-invalidation --distribution-id "$CLOUDFRONT_ID" --paths "/*"
